#visualization {
  /*max-width:100%;*/
  height: 80%;
  /*height:auto;*/
}

div {
  margin-left: 0px; 
}

.container {
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center;     /* Align vertical */
  height: 50px;           /* Set the height of the container */
}